<h1>Add a pic for room <%= @room.name %></h1>

<%= simple_form_for([@room, @picture]) do |f| %>
  <%= f.input :photo, input_html: {multiple: true, name: "photos[]"} %>
  <%= f.input :photo_cache, as: :hidden %>

  <%= f.submit 'Go' %>
<% end %>
